@{
    ViewBag.Title = "Окончание регистрации";
    ViewBag.Favicon = "/Content/icons/success/favicon.ico";
}

<h2 class="text-center text-success">Вы были успешно зарегистрированы.</h2>
<h3 class="text-center text-info">Используйте свой никнейм и пароль для входа на сайт</h3>
