
@{
    ViewBag.Title = "Неудача";
    ViewBag.Favicon = "/Content/icons/failed/favicon.ico";
}

<div class="container text-center">
    <div class="text-danger">
        <h4>Упс....</h4>
        <h3>Что-то пошло не так, проверьте ваш счёт</h3>
    </div>
</div>

