@model IEnumerable<BT.Dom.Entities.Tour>

@{
    ViewBag.Title = "All Tours";
}

<div class="container">
    @foreach (var tour in Model)
    {
        <div class="form-group">
            <div class="lead">
                @tour.Name
            </div>
            <div class="row">
                <div class="col-sm-2">
                    Место пребывания:
                </div>
                <div class="col-sm-3">
                    @tour.Destination
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    Дата отправления:
                </div>
                <div class="col-sm-3">
                    @tour.Date
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    Цена:
                </div>
                <div class="col-sm-3">
                    @tour.Price
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <a href="#" class="btn btn-outline-info">Подробнее</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-outline-success">Купить</a>
                </div>
                @if (User.IsInRole("admin"))
                {
                    using (Html.BeginForm("EditTour", "Tour", new { id = tour.Id }, FormMethod.Get))
                    {
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-outline-warning">Редактировать</button>
                        </div>
                    }
                    using (Html.BeginForm("DeleteTour", "Tour", new { id = tour.Id }, FormMethod.Get))
                    {
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-outline-danger">Удалить</button>
                        </div>
                    }

                }
            </div>
        </div>
    }
</div>

