
@{
    ViewBag.Title = "Вы уже приобрели данный тур!";
    ViewBag.Favicon = "/Content/icons/failed/favicon.ico";
}

<div class="container text-center">
    <h4 class="text-info">Вы уже приобрели этот тур!</h4>
</div>

